body {
    background-color: black;
    color: white;
}

nav, .navbar-brand {
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: white;
    font-size: 20px;
    position: relative;
}

.name {
    font-size: 10vw;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

nav {
    width: 100%;
    margin-bottom: 1%;
}

.navbar-brand {
    padding-left: 10%;
    font-size: 30px;
}

#titles {
    font-family: 'Raleway', sans-serif;
    font-size: 4vw;
    text-align: center;
}

#me {
    height: 30vw;
    width: 30vw;
}
#myVideo {
    position: fixed;
    top: 50%;
    left: 10%;
    min-width: 90%;
    min-height: 90%;
    width: 50%;
    height: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
  }


  @media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    }
    